# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Django
db.sqlite3
*.log

# Environments
venv/
.venv/

# IDE / tooling
.idea/
.vscode/
*.swp

# Docker / misc
*.env
*.env.*
!.env.example
*.db
/postgres-data/
/ollama-data/
